body {
	text-align: center;
}

div {
	border: 1px solid white;
}

.gridContainer1 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	border: 2px solid #f76707;
	border-radius: 5px;
	background-color: #fff4e6;
}

.gridContainer1 > div {
	border: 2px solid #ffa94d;
	border-radius: 5px;
	background-color: #ffd8a8;
	padding: 1em;
	color: #d9480f;
}

.gridContainer2 {
	display: grid;
	grid-template-columns: repeat(5, 1fr 2fr);
	grid-auto-rows: minmax(200px, auto);
	grid-column-gap: 10px;
	grid-row-gap: 1em;
	
	border: 2px solid #07abf7;
	border-radius: 5px;
	background-color: #e6eeff;
}

.gridContainer2 > div {
	border: 2px solid #4db5ff;
	border-radius: 5px;
	background-color: #a8cfff;
	padding: 1em;
	color: #0f71d9;
}

.gridContainer3 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	
	border: 2px solid #f76707;
	border-radius: 5px;
	background-color: #fff4e6;
}

.gridContainer3 > div {
	border: 2px solid #ffa94d;
	border-radius: 5px;
	background-color: #ffd8a8;
	padding: 1em;
	color: #d9480f;
}